%h2= "Welcome to a Maxfund Cats Listing"

%div{class: "cats clearfix"}
  - @cats.each_with_index do |cat, idx|
    -loc_class = cat.loc.downcase.tr(' ', '_')

    %div{class: "adopted-#{cat.is_current} cat #{loc_class}"}
      %span{class:"l1"}
      %span{class:"l2"}
      %span{class:"l3"}
      %span{class:"l4"}
      %a{href: "/cat/#{cat.id}"} #{cat.name}
      %img{src: "/#{cat.image_url}"}
      %p
        %span{class: "loc"}= "location: #{cat.loc}" 

%h2= "Alumni Cats"
.cats
  %table
    - @cat_alumni.each_with_index do |cat, idx|
      - if idx % 3 == 0
        %tr

      %td{class: "adopted-#{cat.is_current}"}
        %h2
          %a{href: "/cat/#{cat.id}"} #{cat.name}
        %img{src: cat.image_url}
        %p
          %span{class: "loc"}= "location: #{cat.loc}" 


